* {
	margin: 0;
	padding: 0;
	transition: all .1s;
}
:root {
	font-size: calc(1vw + 1vh + .5vmin);
}
body {
	font: 0.7em/1.6 'Montserrat', sans-serif;
	color: #8a8c8f;
}

header {
	height: 190px;
	padding: 170px 30px 0;
	background: #434244;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
header .header-photo {
	max-width: 360px;
	width: 30vw;
	max-height: 360px;
	height: 30vw;
	background: #dbdcdd;
	border-radius: 50%;
}
header h1 {
	color: #f5f6f5;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 1.2em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	width: 40%;
	margin: 35px 0 0;
}
header h1 span {
	color: #97989b;
	font-size: 32px;
}
h2, h3, h4 {
	color: #2d2824;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.2em;
	text-transform: uppercase;

}
/* rating styles */
.rate {
	margin: 25px 0 20px;
	display: flex;
	justify-content: space-between; 
}
.rate label {
	width: 20px;
	height: 20px;
	display: block;
	position: relative;
}
.rate input {
	outline: none;
	border: none;
	opacity: 0;
}
.rate  input[type="checkbox"] + span {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: url(../img/star-base.png) no-repeat;
	cursor: pointer;
}

.rate input[type="checkbox"]:checked + span     {
	background: url(../img/star.png) no-repeat;
}
/* end rating */

.header-info {
	width: 25%;
	-ms-align-self: flex-end;
	align-self: flex-end;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.header-info .status {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: url(../img/smiles/happy.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.progress-radial {
	width: 39px;
	height: 39px;
	border-radius: 50%;
	border: 3px solid #fff;
	background-color: #fff;
}
.progress-radial .overlay {
	position: absolute;
	width: 60px;
	height: 60px;
	background-color: #fffde8;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 20px;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
}

/* -------------------------------------
* Mixin for progress-% class
* ------------------------------------- */
.progress-0 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-5 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-10 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-15 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-20 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-25 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-30 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-35 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-40 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-45 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-50 {
	background-image: linear-gradient(-90deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-55 {
	background-image: linear-gradient(-72deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-60 {
	background-image: linear-gradient(-54deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-65 {
	background-image: linear-gradient(-36deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-70 {
	background-image: linear-gradient(-18deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-75 {
	background-image: linear-gradient(0deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-80 {
	background-image: linear-gradient(18deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-85 {
	background-image: linear-gradient(36deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-90 {
	background-image: linear-gradient(54deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-95 {
	background-image: linear-gradient(72deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.progress-100 {
	background-image: linear-gradient(90deg, #ffffff 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #ffffff 50%, #2f3439 50%, #2f3439);
}

.header-info .qr {
	width: 50px;
	height: 50px;
	background: url(../img/finger.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.main-content {
	margin: 50px 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.main-content .left {
	width: calc(37% - 80px);
	border-right: 3px solid #c0c1c2;
	padding: 0 0 0 80px;
}
.left .base-info {
	padding: 160px 0 0;
	margin: 0 25px 0 0;
	border-bottom: 2px solid #c0c1c2;
}
h2 {
	text-transform: uppercase;
	font-weight: 400;
	margin: 0 0 40px;
}
.left .base-info h2 span {
	font-size: .8em;
}
.left .base-info table {
	width: 95%;
	font-size: 14px;
	line-height: 1.1em;
}
.left .base-info table td {
	padding: 6px 0;
	vertical-align: top;
}
.left .base-info table .data:before {
	content: ":";
	display: block;
	position: absolute;
	transform: translate(-20px,0);
}
.left .base-info table p {
	margin: 0 0 10px;
}
.specializasion, .content-links, .contacts, .main-links, .knowledges, .experience, .communications {
	padding: 38px 0 28px;
	margin: 0 25px 0 0;
	border-bottom: 2px solid #c0c1c2;
}
.specializasion h2 {
	margin-bottom: 25px;
}
.specializasion .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	margin: 0 0 10px;
}
.specializasion .double .icon {
	width: 30px;
	height: 40px;
}
.specializasion .double p {
	margin: 0 0 0 50px;
	font-weight: 700;
}
.specializasion .double .phisic {
	background: url(../img/phisic-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.specializasion .double .chemie {
	background: url(../img/chemie-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.specializasion .double .code {
	background: url(../img/code-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.content-links .item {
	width: 250px;
	height: 70px;
	display: flex;
	flex-direction: column;
	background: #c0c1c2;
	border-radius: 12px;
	margin: 0 0 20px 68px;
	overflow: hidden;
	text-decoration: none;
}
.content-links .item span {
	display: block;
	width: 100%;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 14px;
	color: #fff;
}
.content-links .item .top {
	background: #a2bbbb;
	font-weight: 700;
}
.content-links .item .bottom {
	background: #f4f4d7;
	color: #434244;
	font-weight: 400;
}
.content-links .item:before {
	content: "";
	display: block;
	width: 83px;
	height: 83px;
	position: absolute;
	border-radius: 50%;
	border: 6px solid #fff;
	transform: translate(-76px,-10px);
}
.content-links .photo:before {
	background: #a2bbbb url(../img/photo-icon.png) 50% no-repeat;
	-webkit-background-size: 70%;
	background-size: 70%;
}
.content-links .video:before {
	background: #a2bbbb url(../img/play-icon.png) 70% 50% no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
}
.content-links .docs:before {
	background: #a2bbbb url(../img/list-icon.png) 50% no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
}
.content-links .share:before {
	background: #a2bbbb url(../img/share-icon.png) 60% 50% no-repeat;
	-webkit-background-size: 60%;
	background-size: 60%;
}
.contacts .double, .main-links .double {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.contacts .double .icon, .main-links .double .icon, .sub-desc .double .icon {
	width: 40px;
	height: 40px;
}
.contacts .double .call {
	background: url(../img/call-icon.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.contacts .double .content, .main-links .double .content, .sub-desc .double .content {
	width: 75%;
}
.contacts .double a, .main-links .double a {
	text-decoration: none;
	color: #8a8c8f;
	font-size: 16px;
}
.contacts .double ul {
	list-style: none;
	border-bottom: 2px solid #c0c1c2;
	margin: 0 0 10px;
}
.contacts .double ul li {
	line-height: 2em;
}
.contacts .double .ukraine {
	background: url(../img/ukraine-icon.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.main-links .double {
	-ms-align-items: center;
	align-items: center;
	margin: 0 0 15px;
}
.main-links .double .email, .sub-desc .double .email {
	background: url(../img/email-link.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

}
.main-links .double .web, .sub-desc .double .web {
	background: url(../img/web-link.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.knowledges .double, .sub-desc .double  {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}
.knowledges .double > div {
	width: 50%;
	text-transform: uppercase;
	font-size: 12px;

}
.knowledges .double .progress {
	height: 8px;
	background: #c7c8c9;
}
.knowledges .double .progress .wrap {
	width: 100%;
	height: 100%;
}
.knowledges .double .progress .width {
	background: #424243;
	height: 100%;
}
/* right */
.right {
	width: calc(60% - 120px);
	padding: 0 100px 0 10px;
}
.right .info {
	border-bottom: 2px solid #c0c1c2;
	padding: 0 0 30px;
}
.right .info h2 {
	text-transform: uppercase;
	margin-left: 50px;
}
.right .info h2:before {
	content: "i";
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	background: #297a79;
	color: #ffffff;
	transform: translate(-65px, -9px);
	line-height: 50px;
	text-align: center;
	text-transform: lowercase;
	font-size: 36px;
	font-weight: 700;
}

.right .info .container div>a {
	position: absolute;
	text-decoration: none;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 3px solid #0e0309;
	transform: translate(-30px);
	line-height: 18px;
	text-align: center;
	font-size: 22px;
	background: #fff;
}
.right .info .container a span:last-child {
	line-height: 14px;
}
.right .info .container > div {
	margin: 0 0 2%;
}
.right .experience .container {
	border-left: 2px solid #317f7e;
	padding: 0 0 0 10px;
}
.experience h2 {
	margin-left: 60px;
}
.experience h2:before {
	content: "";
	width: 65px;
	height: 65px;
	background: url(../img/case-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	display: block;
	position: absolute;
	transform: translate(-80px,-20px);
}
.experience .container> div > a {
	position: absolute;
	text-decoration: none;
	border: 2px solid #317f7e;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	transform: translate(-21px, 4px);
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	background: #fff;
}
.experience .container a span:last-child, .communications .item a span:last-child {
	line-height: 14px;
}
.experience .container .header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 0 0 15px 65px;
}
.experience .container .header p:first-child {
	color: #434244;
	margin: 0 25px 0 0;
}
.experience .container .header p:last-child {
	color: #398483;
	text-transform: uppercase;
	line-height: 1;
}
.experience .container .header p span {
	color: #434244;
}
.experience .container .header p span:last-child {
	color: #c0c0c2;
	text-transform: none;
	font-size: 12px;
}
.experience .container ul, .communications .sub-desc ul {
	list-style: none;
	width: 48%;
	margin: 3% 0 0;
}
.experience .container .double, .communications .sub-desc .double {
	margin: 0 0 15px;
}
.experience .container .sub-desc, .communications .sub-desc {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.experience .container .sub-desc a, .communications .sub-desc a {
	text-decoration: none;
	color: #8f9194;
	margin: 0 0 25px;
}
.communications h2, .communications>p {
	margin: 0 0 0 60px;
}
.communications h2:before {
	content: "";
	width: 65px;
	height: 65px;
	background: url(../img/group-icon.png) 50% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	display: block;
	position: absolute;
	transform: translate(-80px,-20px);
}
.communications {
	border-bottom: none;
}
.communications .wrap {
	width: 100%;
	overflow: hidden;
	margin: 0 0 70px;
}
.communications .thumbs {
	margin: 30px 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 100vw;
	position: relative;
	transform: translateX(0px);
}
.communications .thumbs .item {
	width: 30%;
	margin: 0 3%;
}
.communications .thumbs .frame {
	width: 100%;
	height: 150px;
	border:6px solid #fff;
	box-shadow: 0 0 15px #ccc;
	transform: rotate(-2deg);
}
.communications .thumbs .photo {
	width: 100%;
	height: 150px;
	border:6px solid #fff;
	box-shadow: 0 0 15px #ccc;
	transform: rotate(2deg) translate(0,-4px);
}
.communications .thumbs .photo-1 {
	background: url(../img/photo-text.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.communications .thumbs .photo-2 {
	background: url(../img/photo-text-1.jpg) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.communications .thumbs .item p {
	margin: 15px 0;
	font-size: 12px;
	font-weight: 700;
}
.communications .thumbs .item p:nth-child(3n) {
	font-weight: 400;
	margin:-15px 0 0;
}
.communications .thumbs .item a {
	position: relative;
	text-decoration: none;
	border: 2px solid #317f7e;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 15px 0 0;
	line-height: 16px;
	text-align: center;
	font-size: 16px;
	background: #fff;
	display: block;
}
.communications #leftButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #f1f1f1 url(../img/play-icon.png) 65% no-repeat;
	-webkit-background-size: 40%;
	background-size: 40%;
	transform: rotate(180deg) translate(31px,-140px);
	border: none;
	outline: none;
}
.communications #rightButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #f1f1f1 url(../img/play-icon.png) 65% no-repeat;
	-webkit-background-size: 40%;
	background-size: 40%;

	border: none;
	outline: none;
}

/* search page*/

.form-container .search-field {
	display: block;
	width: 65%;
	height: 40px;
	margin: 0 0 40px 40px;
	border: none;
	background: #f4f4d7;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-align: center;
	color: #111;
	font-size: 14px;
	letter-spacing: 1px;
}
.form-container .search-field_before:before {
	content: "";
	position: absolute;;
	display: block;
	width: 45px;
	height: 40px;
	background: #434244 url(../img/search-icon.png) 50% no-repeat;
	-webkit-background-size: 90%;
	background-size: 90%;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.form-container .reset-btn {
	display: block;
	border: none;
	text-align: right;
	padding-right: 40px;
	width: calc(76% - 40px);
	text-transform: uppercase;
	color: #8a8c8f;
	font-size: 12px;
	position: relative;
	cursor: pointer;
	outline: none;
	margin: 0 0 20px 40px;
}
.form-container .reset-btn:after {
	content: "x";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid #8a8c8f;
	position: absolute;
	right: 5%;
	text-align: center;
	text-transform: lowercase;
	line-height: 14px;
	cursor: pointer;
}
.physics-choice, .chemie-choice, .code-choice, .country-choice,  .city-choice, .institution-choice, .company-choice, .position-choice {
	overflow: hidden;
	-webkit-transition: max-height .8s;
	transition: max-height .8s;
	margin-bottom: 3px;
}
label.country-choice-label {
	margin-top: 40px;
}
.physics-choice-label, .chemie-choice-label, .code-choice-label {
	display: block;
	width: 64%;
	height: 40px;
	margin: 0 0 0 45px;
	border: none;
	background: #323133;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-align: center;
	font-size: 18px;
	letter-spacing: -2px;
	line-height: 40px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 100;
}
.country-choice-label, .city-choice-label, .institution-choice-label, .company-choice-label, .position-choice-label {
	display: block;
	width: 64%;
	height: 40px;
	margin: 0 0 0 45px;
	border: none;
	background: #f4f4d7;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	text-align: center;
	color: #111;
	font-size: 18px;
	letter-spacing: -2px;
	line-height: 40px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 100;
}
.physics-choice-label:before, .chemie-choice-label:before, .code-choice-label:before  {
	content: "";
	position: absolute;;
	display: block;
	width: 45px;
	height: 40px;
	background: #f4f4d7 url(../img/phisic-icon.png) 50% no-repeat;
	-webkit-background-size: 60%;
	background-size: 60%;
	border-top-left-radius: 45%;
	border-bottom-left-radius: 45%;
	cursor: pointer;
	transform: translate(-45px,0);
}
.country-choice-label:before, .city-choice-label:before, .institution-choice-label:before, .company-choice-label:before, .position-choice-label:before {
	content: "";
	position: absolute;;
	display: block;
	width: 45px;
	height: 40px;
	background: #434244 url(../img/geo-icon.png) 50% no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
	border-top-left-radius: 45%;
	border-bottom-left-radius: 45%;
	cursor: pointer;
	transform: translate(-45px,0);
}

.chemie-choice-label:before {
	background: #f4f4d7 url(../img/chemie-icon.png) 50% 40% no-repeat;
	-webkit-background-size: 40%;
	background-size: 40%;
}
.code-choice-label:before {
	background: #f4f4d7 url(../img/code-icon.png) 50% no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
}
.city-choice-label:before {
	background: #434244 url(../img/city-icon.png) 50% no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
}
.institution-choice-label:before {
	background: #434244 url(../img/study-icon.png) 50% no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
}
.company-choice-label:before {
	background: #434244 url(../img/company-icon.png) 50% no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
}
.position-choice-label:before {
	background: #434244 url(../img/case-icon.png) 50% no-repeat;
	-webkit-background-size: 50%;
	background-size: 50%;
}
.physics-choice label, .chemie-choice label, .code-choice label, .country-choice label, .city-choice label, .institution-choice label, .company-choice label, .position-choice label {
	width: calc(64% - 20px);
	height: 30px;
	margin: 0 0 0 45px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	font-size: 12px;
	background: #f2f2e5;
	color: #323133;
}
.physics-choice label:nth-child(2n), .chemie-choice label:nth-child(2n), .code-choice label:nth-child(2n), .country-choice label:nth-child(2n), .city-choice label:nth-child(2n), .institution-choice label:nth-child(2n), .company-choice label:nth-child(2n), .position-choice label:nth-child(2n)  {
	background: #a2bbbb;
}

input {
	outline: none;
}
#filter-select {
	margin: 30px 0 0 100px;
	text-transform: uppercase;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	background: transparent;
	cursor: pointer;
}
.filter-select {
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.filter-select:after {
	content: "";
	width: 1em;
	height: 1em;
	background: url(../img/filter-icon.png) 50% no-repeat;
	background-size: contain;
	display: block;
	position: absolute;
	top: 30px;
	right: -50px;
	z-index: -1;
}
/* right */
.right .search-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.right .search-wrapper .item {
	width: 30%;
	text-align: center;
}
.right .search-wrapper .item .item-img {
	width: 100%;
	max-height: 160px;
	height: 30vw;
	display: block;
	position: relative;
	background: url(../img/person.png) 50% no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0 0 20px;
	border: 1px solid #626464;
}
.right .search-wrapper .item .item-img span {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 2em;
	padding: 0 .5em;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	background: #626464;
	font-weight: 100;
}
.right .search-wrapper .item .item-title {
	text-decoration: none;
}
.right .search-wrapper .item .item-title h3 {
	font-weight: 400;
}
.right .search-wrapper .item .item-title h3 span {
	font-weight: 700;
}
.right .search-wrapper .item .item-title p {
	font-weight: 400;
	text-transform: uppercase;
	color: #111111;
    font-size: 14px;
}

/*!!!!!!!!!!!!! Temp menu*/
.temp-menu {
	position: absolute;
	
	top: 50px;
	right: 50px;
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.temp-menu a {
	text-decoration: none;
	color: #fff;
	margin-left: 30px;
}
/*!!!!!!!!!!!!!! temp menu*/